

#imgInicio {
    width: 100%; /* 100% del ancho del viewport (pantalla) */
    height: auto; /* Mantiene la proporción original */
    display: block; /* Elimina espacios en blanco si es inline */
}


main{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
    justify-content: center;
}

main h1{
    margin-bottom: 1rem;
    font-size: 3rem;
}
main p{
    margin-bottom: 1rem;
    font-size: 2rem;
}

section{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

section h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

#containerPromociones {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

p{
    width: 300px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: #FFD200ff;
    box-shadow: 0 0px 8px rgb(100, 100, 100);
}

#containerApp{
    display: flex;
    flex-direction: column;
}

#containerApps{
    display: flex;
    justify-content: space-evenly;
}
#containerApps img{
    width: 10rem;
    margin-top: 2rem;
}

#containerLogos{
    display: flex;
    flex-direction: column;
}

#containerLogos img{
    width: 2rem;
    margin-bottom: 1rem;
}