/* GENERAL: */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    width: 100%;
}

/*FONDO*/
#imgInicio {
    width: 100%;
    height: 100vh;
    background-image: url('/img/incioDesktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}

/*TITULO:*/
main h1{
    margin-top: 3rem;
    margin-bottom: 10rem;
    font-size: 3rem;
}

section{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

section h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

#containerPromociones {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
