@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');

body{
    background-color: #eee;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}


h1, h2, h3{
    font-family: 'Lilita One', sans-serif;
    font-weight: 400;
}

header{
    background-color: #FF2B00ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    & img {
        width: 3rem;
    }
}

.btn-menu {
  border: none;
  background: none;
  cursor: pointer;
}

.dropdown {
    display: inline-block;
    z-index: 10;
}

.dropdown-content {
    background-color: #ff2b00;
    position: absolute;
    right: 10px;
    top: 6rem;
    display: none;
    border-radius: 4px;
    min-width: 50%;
    & hr {
        display: block;
        border: .5px solid #d42300;
    }
    
}
.dropdown-content a {
    padding: 16px;
    text-decoration: none;
    color: white;
    display: block;
}

.content {
    display: block;
}

.menu {
    border: none;
}

nav {
    display: none;
}

ul > li > a{
  color: rgb(255, 255, 255);
  padding: 12px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

li>a:hover {
  background-color: #FFD200ff;
  color: rgb(46, 46, 46);
  box-shadow: 0 0px 8px #FFD200ff;
}

footer {
  margin-top: 2rem;
  column-gap: 8px;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #eee;
  box-shadow: 0 0px 8px rgb(100, 100, 100);
}

#containerApp {
    max-width: 50%;
    flex-direction: column;
}

#containerApps {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

#containerApps img {
    width: 8rem;
}

#containerLogos {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

#containerLogos img {
    width: 2rem;
    height: 2rem;
}

.social-icons {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 720px) {
    .dropdown {
        display: none;
    }
    
    nav {
        display: block;

        & ul {
            display: flex;
            list-style: none;
            column-gap: 2rem;

            & a {
                text-decoration: none;
            }
        }
    }

    main {
        min-height: 100vh;
    }

    /* .btn-menu {
        display: none;
    } */

    #containerApps {
        flex-direction: row;;
        justify-content: space-evenly;
    }

    #containerLogos{
        /* flex-direction: row; */
        justify-content: space-between;
    }
}