@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}


h1, h2, h3{
    font-family: 'Lilita One', sans-serif;
    font-weight: 400;
}

header{
    background-color: #FF2B00ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;

    & img {
        width: 3rem;
    }
}

.btn-menu {
  border: none;
  background: none;
  cursor: pointer;
}

.menu {
    border: none;
}

nav {
  display: flex;
  
  background-color: white;
  height: 100vh;
  width: 70%;
  right: 0px;
}

ul {
  list-style: none;
}

ul > li > a{
  text-decoration: none;
  color: #FFD200ff;
  padding: 12px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

li>a:hover {
  background-color: #FFD200ff;
  color: rgb(46, 46, 46);
  box-shadow: 0 0px 8px #FFD200ff;
}

@media (min-width: 920px) {
    nav {
        display: block;

        & ul {
            display: flex;
            list-style: none;
            column-gap: 2rem;

            & a {
                text-decoration: none;
            }
        }
    }

    .btn-menu {
        display: none;
    }
}