.title {
    max-width: 75%;
    padding: 20px 0;
    text-align: center;

    & h1 {
        margin-bottom: 20px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

form {
    background-color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 20px 15px;
    min-width: 75%;
    display: flex;
    flex-direction: column;

    & div {
        display: flex;
        flex-direction: column;
    }

    & label {
        margin-bottom: 5px;
    }

    & #email, #nombre {
        height: 30px;
        padding: 0 10px;
    }
    
    & textarea {
        resize: none;
        padding: 5px 10px;
    }

    & input, textarea {
        font-size: .9rem;
        outline: none;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom: 10px;
    }
}

form input:focus, form textarea:focus {
  transition: all 0.1s ease;
  background-color: #f3f3f3;
}

form button {
    background-color: #FF2B00ff;
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: 10px 12px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    transition: all .1s ease;

    &:hover {
        background-color:#FF0000ff;
    }
    
    &:active {
        background-color: #ffe46d;
        color: rgb(100, 100, 100);
    }

}

@media (min-width: 720px) {
    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        grid-template-areas: "nombre email"
                             "puntuacion puntuacion"
                             "comentario comentario"
                             "enviar enviar";
    }

    form div.nombre {
        grid-area: nombre;
    }

    form div.email {
        grid-area: email;
    }

    form div.puntuacion {
        grid-area: puntuacion;
        max-width: 300px;
    }
    
    form div.comentario {
        grid-area: comentario;
    }

    form button {
        width: 300px;
        place-self: center;
        margin-top: 20px;
        grid-area: enviar;
        height: 40px;
    }
}